<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="/js/mui.min.js"></script>
    <link href="/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="mui-content">
    <div class="main found_cont">
        <div><img src="/image/found_404.png" alt="" /></div>
        <% if(msg != null) { %> <div><%-msg%></div> <% }  %>
    </div>
</div>
</body>

</html>