<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>链笔财经</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="../../stylesheets/mobile/news.css">

  </head>
  <body>
    <div class="page">
       <header class="bar bar-nav">
         <a class="icon icon-edit pull-left open-panel"></a>
         <h1 class='title'>链笔财经</h1>
       </header>
      <nav class="bar bar-tab">
        <a class="tab-item active" href="#">
          <span class="icon icon-app"></span>
          <span class="tab-label">新闻</span>
        </a>
        <a class="tab-item" href="#">
          <span class="icon icon-clock"></span>
          <span class="tab-label">快讯</span>
        </a>
        <a class="tab-item" href="#">
          <span class="icon icon-browser"></span>
          <span class="tab-label">行情</span>
        </a>
        <a class="tab-item" href="#">
          <span class="icon icon-friends"></span>
          <span class="tab-label">圈子</span>
        </a>
        <a class="tab-item" href="#">
          <span class="icon icon-me"></span>
          <span class="tab-label">我的</span>
        </a>
      </nav>
      <div class="content">
        <div class="list-block media-list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>

            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>

            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>

            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>

            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>

            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>

            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 4rem;height:3rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">金色学院学员走进区块链底层平台技术公司井通科技</div>
                    </div>
                    <div class="item-title-memo">2018-05-24 11:30 金色讲堂</div>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
  </body>
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
  <script type='text/javascript'>$.init()</script>
  <script type='text/javascript' src='../../javascripts/mobile/news.js' charset='utf-8'></script>

</html>